@use 'color';

/*Page bâtiment */

.containeurBatiment{
    position: relative;
    
  }
  
  .containeurBatiment::before {
    position: absolute;
    list-style-position: inside;
    top: 2.8rem;
    left: -2rem;
    display: block;
    width: 1rem;
    height: 0.3rem;
    content: "";
    background: color.$ColorRouge ;
   }
  
   /*Page Alimentation */
  
  .containeurAlimentation{
    position: relative;
    
  }
  
  .containeurAlimentation::before {
    position: absolute;
    list-style-position: inside;
    top: 2.8rem;
    left: -2rem;
    display: block;
    width: 1rem;
    height: 0.3rem;
    content: "";
    background: color.$ColorRouge  ;
   }
  
    /*Page Fabrication */
  
  .containeurFabrication{
    position: relative;
    
  }
  
  .containeurFabrication::before {
    position: absolute;
    list-style-position: inside;
    top: 2.8rem;
    left: -2rem;
    display: block;
    width: 1rem;
    height: 0.3rem;
    content: "";
    background: color.$ColorRouge  ;
   }
  
     /*Page Fabrication */
  
  .containeurServices{
    position: relative;
    
  }
  
  .containeurServices::before {
    position: absolute;
    list-style-position: inside;
    top: 2.8rem;
    left: -2rem;
    display: block;
    width: 1rem;
    height: 0.3rem;
    content: "";
    background: color.$ColorRouge  ;
   }
  
   /* Page NotFound*/
  
   .backButton {
    background-color: color.$ColorBleu;
    color: color.$ColorBlanc;
    border-radius: 15px;
    border-color: black;
   }
  
   .linkNotFound {
    text-decoration: none;
   }