/*Base*/

@font-face {
  font-family: 'Graphik';
  src: url(./Font/Graphik-Regular-Trial.otf) format('opentype');

}

body {
  background-color: #f1f8fc ;
}

* {
  font-family: "Graphik", sans-serif;
}

/* Header */

header {
  background-color: #f1f8fc ;
  box-shadow: 0 0.2rem 0.6rem rgba(0,0,0,.0793474)
}

img {
  width: 250px;
  height: 100px;
}

input {
  max-width: 135px;
  max-height: 50px;
}

.searchButton {
  max-width: 135px;
  max-height: 50px;
  background-color: #00497c ;
  color: #f1f8fc;
}

.form-control {
  border: 2px solid #384050;
 }

 form {
  padding-left: 2em;
 }


 /*Footer*/ 


 footer {
  display: flex;
  background-color: #0074c7;
  color: #f1f8fc;
 }

 .navFooter  {
  text-decoration: none;
  color: #f1f8fc ;
  box-shadow: inset 0 0 0 0 #00497c;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
 }

 .navFooter:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #54b3d6;;
 }

 .footerImage {
  width: 250px;
  height: 150px;
 }
