/*Pas oublier de mettre tout ca en saas*/

/*Base*/

@font-face {
  font-family: 'Graphik';
  src: url(./Font/Graphik-Regular-Trial.otf) format('opentype');

}

body {
  background-color: #f1f8fc ;
  width: auto;
}

* {
  font-family: "Graphik", sans-serif;
}

h2, h3, h4 {
  color: #00497c;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #f1f8fc;
}

/* Header */

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
  }
}

header {
  background-color: #f1f8fc ;
  box-shadow: 0 0.2rem 0.6rem rgba(0,0,0,.0793474)
}

img {
  width: 250px;
  height: 100px;
}

input {
  max-width: 135px;
  max-height: 50px;
}

.form-control {
  border-right: .1rem solid #0074c7;
  border-bottom:.1rem solid #0074c7 ;
 }

 form {
  padding-left: 2em;
 }

 .search-results {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: #384050;
  border: 1px solid #ddd;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  text-align: center;
  list-style-type: none;
}

.search-results li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.search-results li:last-child {
  border-bottom: none;
}

.searchList {
  text-decoration: none;
  color: #f1f8fc;
}

 /*Footer*/ 


 footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #0074c7;
  color: #f1f8fc;
  height: max-content;
 }

 .navFooter  {
  text-decoration: none;
  color: #f1f8fc ;
  box-shadow: inset 0 0 0 0 #00497c;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
 }

 .navFooter:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #54b3d6;;
 }

 .footerImage {
  width: 225px;
  height: 100px;
 }

 .PageLegal {
  display: flex;
 }


 /*Home */

 .mainSectionContaineur {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}

.mainSectionContaineurText {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: center;
}

.homeImg {
  margin-left: 2em;
  width: 35em;
  height: 25em;
  padding-left: 2em;
}

 .trouveMonArtisan {
  position: relative;
 }

 .trouveMonArtisan::before {
  position: absolute;
  list-style-position: inside;
  top: 1.3rem;
  left: -2rem;
  display: block;
  width: 1rem;
  height: 0.3rem;
  content: "";
  background: #cd2c2e ;
 }

.listArtisan {
list-style-type: none;
}

.artisanDuMois {
  position: relative;

}

.artisanDuMois::before {
  position: absolute;
  list-style-position: inside;
  top: 1.0rem;
  left: 5rem;
  display: block;
  width: 1rem;
  height: 0.3rem;
  content: "";
  background: #cd2c2e ;
 }

.cardColor {
  background-color: #0074c7;
  color: #f1f8fc;
 }
 .alignCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 }

 @media screen and (max-width: 768px) {
  .mainSectionContaineur {
    display: flex;
    flex-direction: column-reverse;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
}


/*Page bâtiment */

.containeurBatiment{
  position: relative;
  
}

.containeurBatiment::before {
  position: absolute;
  list-style-position: inside;
  top: 2.8rem;
  left: -2rem;
  display: block;
  width: 1rem;
  height: 0.3rem;
  content: "";
  background: #cd2c2e ;
 }

 /*Page Alimentation */

.containeurAlimentation{
  position: relative;
  
}

.containeurAlimentation::before {
  position: absolute;
  list-style-position: inside;
  top: 2.8rem;
  left: -2rem;
  display: block;
  width: 1rem;
  height: 0.3rem;
  content: "";
  background: #cd2c2e ;
 }

  /*Page Fabrication */

.containeurFabrication{
  position: relative;
  
}

.containeurFabrication::before {
  position: absolute;
  list-style-position: inside;
  top: 2.8rem;
  left: -2rem;
  display: block;
  width: 1rem;
  height: 0.3rem;
  content: "";
  background: #cd2c2e ;
 }

   /*Page Fabrication */

.containeurServices{
  position: relative;
  
}

.containeurServices::before {
  position: absolute;
  list-style-position: inside;
  top: 2.8rem;
  left: -2rem;
  display: block;
  width: 1rem;
  height: 0.3rem;
  content: "";
  background: #cd2c2e ;
 }

 /* Page NotFound*/

 .backButton {
  background-color: #0074c7;
  color: #f1f8fc;
  border-radius: 15px;
  border-color: black;
 }

 .linkNotFound {
  text-decoration: none;
 }

 /* Fiche Artisan */

 .ficheArtisanTitle {
  background-color: #f1f8fc;
  margin-left: -2rem;
  margin-right: -2rem;

 }

 .form-check-input {
  background-color: #0074c7;
 }

 .colorTest {
  background-color: #0074c7;
 }

 .colorTest2 {
  background-color: #f1f8fc;
  margin: 2em;
  margin-bottom: 0;
 }